<form [formGroup]="copyShoesForm">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col form-field">
          <span class="label">Insert a new SKU</span>

          <input formControlName="sku" type="text" pInputText class="p-inputtext-sm" placeholder="Input ...">
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row button-section">
  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" label="CANCEL" class="p-button-sm p-button-secondary"
                (click)="close()"></button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" [label]="'COPY SKU'"
                class="p-button-sm p-button-warning" (click)="copy()"></button>
      </div>
    </div>
  </div>
</div>
