.shoes-info {
    background: #1283ad;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    font-family: 'Bebas Neue', cursive;
}

.title {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 28px;
}

.section {
    padding: 10px;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #3ba8d1;
}

.space {
    margin-top: 10px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.p-image {
    border-radius: 10px;
}

.label-info {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 5px;
        font-size: 20px;
        color: white;
    }

    &__info {
        font-size: 16px;
    }
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: transparent;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: unset;
}

.custom {
    background: #1283ad;
    padding: 10px;
    margin-bottom: 20px;
}

.custom:hover {
    background: #1283ad;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td  {
    border: none;
}  

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: transparent;
    font-size: 15px;
    font-weight: unset;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:first-child {
    padding: 0px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:first-child {
    padding: 0px;
}