<button pButton pRipple type="button" label="Back" icon="fas fa-chevron-circle-left" [routerLink]="['']"
  class="p-button custom">
</button>

<div *ngIf="shoes" class="shoes-info">
  <span class="title">{{ shoes?.name }} - {{ shoes?.sku }}</span>

  <div class="row section">
    <div class="col-6">
      <div class="row">
        <div class="col label-info">
          <span class="label-info__label">Certificate:</span>

          <span class="label-info__info">{{ shoes.zertifikat.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Color:</span>

          <span class="label-info__info">{{ shoes.color.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Form:</span>

          <span class="label-info__info">{{ shoes.form.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Cap description:</span>

          <span class="label-info__info">{{ shoes.capDescription.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Gender:</span>

          <span class="label-info__info">{{ shoes.gender.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Material:</span>

          <span class="label-info__info">{{ shoes.material.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Modification:</span>

          <span class="label-info__info">{{ shoes.modification.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Shoes class:</span>

          <span class="label-info__info">{{ shoes.shoesClass.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Sole:</span>

          <span class="label-info__info">{{ shoes.sole.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Sole description:</span>

          <span class="label-info__info">{{ shoes.soleDescription.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">
          <span class="label-info__label">Upper leather:</span>

          <span class="label-info__info">{{ shoes.upperLeather.name }}</span>
        </div>
      </div>

    </div>

    <div class="col-6">
      <div class="row">
        <div class="col label-info">
          <span class="label-info__label">Description:</span>

          <span class="label-info__info">{{ shoes.description.name }}</span>
        </div>
      </div>

      <div class="row space">
        <div class="col label-info">

          <p-table [value]="sizes" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Size value</th>
                <th></th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-size>
              <tr>
                <td>{{ size.sizeValue }}</td>
                <td></td>
                <td></td>
                <td>{{ size.quantity }}</td>
                <td></td>
                <td>{{ size.price | currency:'EUR' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="row">
        <div class="col label-info">
          <span class="label-info__label">Images:</span>

          <div class="gallery">
            <p-image [src]="shoes.img1" width="250" height="150" [preview]="true">
            </p-image>

            <p-image [src]="shoes.img2" width="250" height="150" [preview]="true">
            </p-image>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
