::ng-deep .p-datatable .p-datatable-tbody > tr > td  {
    vertical-align: middle;
    min-height: 140px;
}  

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}