:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td  {
    vertical-align: middle;
    min-height: 150px;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td:last-child {
    text-align: left;
}