@import '/src/styles/base/vars';

:host {
  .back-panel {
    display: flex;

    align-items: center;
  }

  .space {
    height: 20px;
  }

  .section {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: $primary-light;
  }

  .button-section {
    padding: 0 20px;
  }

  .form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
  }

  .custom {
    background: $primary;
    padding: 10px;
  }

  .p-button-primary,
  .p-button-primary:hover,
  .custom:hover {
    background: $primary;
  }

  .title {
    margin: 10px;
    text-align: center;
    color: $primary;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
  }


  ::ng-deep .p-multiselect {
    width: 100%;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    text-align: right;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    vertical-align: middle;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td:last-child {
    text-align: right;
  }

  .btn-margin {
    margin: 0 20px;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    vertical-align: middle;
    min-height: 70px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
