.add-shoes-form {
    background: #1283ad;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.space {
    height: 20px;
}

.section {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #3ba8d1;
}

.button-section {
    padding: 0 20px;
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.custom {
    background: #1283ad;
    padding: 10px;
    margin-bottom: 20px;
}

.custom:hover {
    background: #1283ad;
}

.title {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

::ng-deep .p-multiselect {
    width: 100%;
}

::ng-deep .p-dropdown {
    width: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: transparent;
    font-weight: unset;
    font-family: 'Bebas Neue', cursive;
    color: white;
    vertical-align: middle;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th:last-child {
    text-align: right;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: transparent;
    // font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: unset;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td  {
    vertical-align: middle;
    // border-bottom: none;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td:last-child  {
    text-align: right;
}

.btn-margin {
    margin: 0 20px;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar {
    background: transparent;
    border: none;
    padding: 1rem 0 1rem;
}

::ng-deep .p-button {
    color: #212529;
    background: #FBC02D;
    border: 1px solid #FBC02D;
}

::ng-deep .p-fileupload .p-fileupload-content {
    border-radius: 10px;
}

::ng-deep .p-fileupload-choose:not(.p-disabled):active {
    color: #212529;
    background: #ffc107;
    border: 1px solid #ffc107;
}

::ng-deep .p-fileupload-choose:not(.p-disabled):hover {
    color: #212529;
    background: #ffc107;
    border: 1px solid #ffc107;
}

::ng-deep .p-fileupload-content .p-progressbar {
    display: none;
}