@import '/src/styles/base/vars';

.add-shoes-form {
    background: $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.space {
    height: 20px;
}

.section {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: $primary-light;
}

.button-section {
    padding: 0 20px;
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.custom {
    background: $primary;
    padding: 10px;
    margin-bottom: 20px;
}

.custom:hover {
    background: $primary;
}

.title {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

::ng-deep .p-multiselect {
    width: 100%;
}

::ng-deep .p-dropdown {
    width: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: transparent;
    font-weight: unset;
    font-family: 'Bebas Neue', cursive;
    color: white;
    vertical-align: middle;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td:last-child {
    text-align: right;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: transparent;
    color: white;
    font-weight: unset;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td  {
    vertical-align: middle;
    text-align: left;
}

.btn-margin {
    margin: 0 20px;
}

::ng-deep {
    .p-fileupload .p-fileupload-buttonbar {
        background: transparent;
        border: none;
        padding: 1rem 0 1rem;
    }

    .p-fileupload-choose {
        color: #212529;
        background: $orange;
        border: 1px solid $orange;
    }

    .p-fileupload .p-fileupload-content {
        border-radius: 10px;
    }

    .p-fileupload-choose:not(.p-disabled):active {
        color: #212529;
        background: $orange-dark;
        border: 1px solid $orange-dark;
    }

    .p-fileupload-choose:not(.p-disabled):hover {
        color: #212529;
        background: $orange-dark;
        border: 1px solid $orange-dark;
    }

    .p-fileupload-content .p-progressbar {
        display: none;
    }
}

.content-header {
    display: flex;
    justify-content: space-between;
}

.label-add__photo {
    margin-top: 9px;
}

.content {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.content-add__photo {
    color: #212529;
    background: $orange;
    border: 1px solid $orange;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 0.3rem 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.content-add__photo:hover {
    color: #212529;
    background: $orange-dark;
    border: 1px solid $orange-dark;
}

.content-photo__remove {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background: #000;
    border-radius: 0 4px 0 0;
    font-weight: 400!important;
    width: 22px;
    height: 22px;
    opacity: .7;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    text-align: center;
}

.content-photo__remove:hover {
    color: #fff;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

input[type="file"] {
    display: none;
}


