<button pButton pRipple type="button" label="Back" icon="fas fa-chevron-circle-left" [routerLink]="['']"
        class="p-button custom">
</button>

<div class="add-shoes-form">
  <span *ngIf="!isEditMode; else editTitle" class="title">ADD NEW SHOES</span>
  <ng-template #editTitle>
    <span class="title">EDIT SHOES</span>
  </ng-template>

  <form [formGroup]="shoesForm" class="shoes-form">
    <div class="row section">
      <div class="col-6">
        <div class="row">
          <div class="col-6 form-field">
            <span class="label">PARENT SKU</span>

            <p-dropdown formControlName="parentSku" [options]="parentSku" optionLabel="parentSku"
                        optionValue="parentSku"
                        placeholder="Input ..."></p-dropdown>
          </div>

          <div class="col-6 form-field">
            <span class="label">SKU</span>

            <input formControlName="sku" type="text" pInputText class="p-inputtext-sm" placeholder="Input ...">
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col form-field">
            <span class="label">NAME</span>

            <input formControlName="name" type="text" pInputText class="p-inputtext-sm" placeholder="Input ...">
          </div>
        </div>
      </div>
    </div>

    <div class="row space"></div>

    <div class="row section">
      <div class="col-3">
        <div class="row">
          <div class="col form-field">
            <span class="label">Gender</span>

            <p-dropdown formControlName="gender" [options]="genders" optionLabel="name" optionValue="id"
                        placeholder="Input ..."></p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">Form</span>

            <p-dropdown formControlName="form" [options]="forms" optionLabel="name" optionValue="id"
                        placeholder="Input ..."></p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">Shoes-Class</span>

            <p-dropdown formControlName="shoesClass" [options]="shoesClass" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">CERTIFICATE</span>

            <p-dropdown formControlName="zertifikat" [options]="zertifikats" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">UPPER LEATHER</span>

            <p-dropdown formControlName="upperLeather" [options]="upperLeathers" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">OL description</span>

            <p-dropdown formControlName="description" [options]="descriptions" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row">
          <div class="col form-field">
            <span class="label">COLOR</span>

            <p-dropdown formControlName="color" [options]="colors" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">MODIFICATION</span>

            <p-dropdown formControlName="modification" [options]="modifications" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">MATERIAL</span>

            <p-dropdown formControlName="material" [options]="materials" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">SOLE</span>

            <p-dropdown formControlName="sole" [options]="soles" optionLabel="name" optionValue="id"
                        placeholder="Input ...">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">CAP DESCRIPTION</span>

            <p-dropdown formControlName="capDescription" [options]="capDescriptions" optionLabel="name"
                        placeholder="Input ..." optionValue="id">
            </p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col form-field">
            <span class="label">SOLE DESCRIPTION</span>

            <p-dropdown formControlName="soleDescription" [options]="soleDescriptions" optionLabel="name"
                        appendTo="body" placeholder="Input ..." optionValue="id">
            </p-dropdown>
          </div>
        </div>
      </div>

      <div *ngIf="!isEditMode" class="col-6">
        <div class="row">
          <app-size-manager [sizesManagementForm]="newSizes">
          </app-size-manager>
        </div>
      </div>

      <div *ngIf="isEditMode" class="col-6">
        <div class="row space">
          <div class="col label-info">

            <p-table [value]="sizesTable" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Size value</th>
                  <th></th>
                  <th></th>
                  <th>Quantity</th>
                  <th></th>
                  <th>Price</th>
                  <th>
                    <button pButton
                            pRipple
                            type="button"
                            icon="fas fa-plus"
                            label="Add size"
                            class="p-button p-button-warning"
                            (click)="openSizeDialog()">
                    </button>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-size>
                <tr>
                  <td>{{ size.sizeValue }}</td>
                  <td></td>
                  <td></td>
                  <td>{{ size.quantity }}</td>
                  <td></td>
                  <td>{{ size.price | currency:'EUR' }}</td>
                  <td>
                    <button pButton
                            pRipple
                            type="button"
                            icon="fas fa-edit"
                            class="btn-margin p-button p-button-help"
                            (click)="openSizeDialog(size)">
                    </button>

                    <button pButton
                            pRipple
                            type="button"
                            icon="fas fa-trash"
                            class="p-button p-button-danger"
                            (click)="deleteDialog(size)">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>
      </div>
    </div>

    <div class="row space"></div>

    <div class="row section">
      <div class="col">
        <div *ngIf="tempCurrentShoes" class="row">
          <div class="content-header">
            <span class="label label-add__photo">photos</span>
            <div>
              <input type="file" id="file" (change)="uploadSinglePhoto($event)" accept="image/*">
              <label for="file" class="content-add__photo">
                <img src="assets/images/add_photo.png" alt="add"> &nbsp;
                Add a photo
              </label>
            </div>
          </div>
          <div *ngFor="let photo of tempCurrentShoes" class="col-2">
            <div class="content col">
              <p-image [src]="photo"
                   alt="Image"
                   height="80"
                   width="100"
                   [preview]="true"
              >
              </p-image>
              <a class="content-photo__remove" (click)="deletePhotoDialog(photo)">×</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div>
    <div class="row space"></div>

    <div class="row button-section">
      <div class="col-6">
        <div class="row">
          <div class="col form-field">
            <button pButton type="submit" label="CANCEL" class="p-button-sm p-button-secondary"
                    [routerLink]="['admin']"></button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col form-field">
            <button pButton type="submit" [label]="submitButtonLabel" (click)="submit()"
                    class="p-button-sm p-button-warning"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" acceptLabel="YES" rejectLabel="NO" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
