.add-shoes-form {
    background: #1283ad;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.space {
    height: 20px;
}

.section {
    padding: 10px;
    margin: 0 20px;
    border-radius: 10px;
    background-color: #3ba8d1;
}

.button-section {
    // margin: 0 20px;
    padding: 0 20px;
}

.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.title {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

::ng-deep .p-multiselect {
    width: 100%;
}

::ng-deep .p-dropdown {
    width: 100%;
}