.form-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

::ng-deep .p-inputnumber {
    width: 100%;
}

:host ::ng-deep .p-dropdown {
    height: 39px;
}

.button-section {
    padding-top: 20px;
}
