<form [formGroup]="sizeForm">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Size</span>

          <p-dropdown formControlName="sizeValue" [disabled]="isEditMode" appendTo="body" [options]="sizes"
            placeholder="Select ...">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Quantity</span>

          <p-inputNumber formControlName="quantity" [showButtons]="true" [min]="0" placeholder="Input ..." [max]="100">
          </p-inputNumber>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Price</span>

          <p-inputNumber formControlName="price" [showButtons]="true" mode="currency" placeholder="Input ..."
            currency="EUR">
          </p-inputNumber>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row button-section">
  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" label="CANCEL" class="p-button-sm p-button-secondary"></button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" [label]="!isEditMode ? 'ADD SIZE' : 'UPDATE SIZE'"
          class="p-button-sm p-button-warning" (click)="addSize()"></button>
      </div>
    </div>
  </div>
</div>
