<form [formGroup]="sizeForm">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Größe</span>

          <p-dropdown formControlName="sizeValue" [disabled]="isEditMode" appendTo="body" [options]="sizes"
            placeholder="Wählen ...">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Menge</span>

          <p-inputNumber formControlName="quantity" [showButtons]="true" [min]="0" placeholder="Eingang ..."
            [max]="100">
          </p-inputNumber>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col form-field">
          <span class="label">Preis</span>

          <p-inputNumber formControlName="price" [showButtons]="true" mode="currency" placeholder="Eingang ..."
            currency="EUR">
          </p-inputNumber>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row button-section">
  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" label="ABBRECHEN" class="p-button-sm p-button-secondary"
          (click)="close()"></button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col form-field">
        <button pButton type="submit" [label]="!isEditMode ? 'GRÖSSE HINZUFÜGEN' : 'GRÖSSE AKTUALISIEREN'"
          class="p-button-sm p-button-warning" (click)="addSize()"></button>
      </div>
    </div>
  </div>
</div>
