.nav-panel {
    width: 100%;
    height: 70px;
    background: #1283ad;
    // background: linear-gradient(200deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    
    &__logo {
        width: 70px;
        height: 60px;
        cursor: pointer;
    }
}

.action-button {
    margin-left: 10px;
}