<div class="main-container">
  <div class="main-container__logo">

    <img class="logo" src="../../../../../assets/images/rotan_logo.png">
  </div>
  <form [formGroup]="loginForm" class="main-container__login-form">
    <span class="title">Rotan Profi Shoes GmbH</span>
    <hr class="line">
    <div class="input-field">
      <input formControlName="email" type="text" pInputText class="p-inputtext-sm" placeholder="Email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors.required">
          E-Mail is required.
        </div>
        <div *ngIf="email.errors.email">
          E-Mail is not valid.
        </div>
      </div>
    </div>

    <div class="input-field">
      <input formControlName="password" type="password" pInputText class="p-inputtext-sm" placeholder="Password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        <div *ngIf="password.errors.required">
          Passwort is required.
        </div>
      </div>
    </div>

    <button pButton type="submit" label="SIGN IN" class="p-button-sm p-button-secondary" (click)="tryLogin()"></button>
  </form>
</div>

<!-- <p-toast position="top-left"></p-toast> -->
