<span class="label">Available sizes</span>
<div form [formGroup]="sizesManagementForm">
  <div class="no-sizes" *ngIf="sizesRows.controls.length === 0">
    No sizes for now. Please click „Add size“, to add a new size.
  </div>

  <div class="header" *ngIf="sizesRows.controls.length !== 0">
    <div class="col-4">Size</div>
    <div class="col-4">Quantity</div>
    <div class="col-3">Price</div>
  </div>

  <div formArrayName="sizes">
    <div *ngFor="let row of sizesRows.controls; let index = index" [formGroupName]="index.toString()">
      <div class="size-row">

        <div class="col-4">
          <p-dropdown formControlName="sizeValue" [options]="sizes" placeholder="Choose ..."> </p-dropdown>
        </div>

        <div class="col-4">
          <p-inputNumber [inputStyle]="{width: '90px'}" formControlName="quantity" [showButtons]="true" [min]="0"
            placeholder="Input ..." [max]="100">
          </p-inputNumber>
        </div>

        <div class="col-3">
          <p-inputNumber [inputStyle]="{width: '90px'}" formControlName="price" [showButtons]="true" mode="currency"
            placeholder="Input ..." currency="EUR">
          </p-inputNumber>
        </div>

        <div class="col-1 trash-btn" (click)="deleteSize(index)">
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
    </div>
  </div>

  <button pButton type="submit" icon="fas fa-plus" label="Add size" (click)="addNewSize()"
    class="p-button-sm p-button-warning add-btn"></button>
</div>
