<span class="label">Verfügbare Größen</span>
<div form [formGroup]="sizesManagementForm">
  <div class="no-sizes" *ngIf="sizesRows.controls.length === 0">
    Vorerst keine Größen. Bitte klicken Sie auf „Größe hinzufügen“, um eine neue Größe hinzuzufügen.
  </div>

  <div class="header" *ngIf="sizesRows.controls.length !== 0">
    <div class="col-4">Größe</div>
    <div class="col-4">Menge</div>
    <div class="col-3">Preis</div>
  </div>

  <div formArrayName="sizes">
    <div *ngFor="let row of sizesRows.controls; let index = index" [formGroupName]="index.toString()">
      <div class="size-row">

        <div class="col-4">
          <p-dropdown formControlName="sizeValue" [options]="sizes" placeholder="Wählen ..."> </p-dropdown>
        </div>

        <div class="col-4">
          <p-inputNumber [inputStyle]="{width: '90px'}" formControlName="quantity" [showButtons]="true" [min]="0"
            placeholder="Eingang ..." [max]="100">
          </p-inputNumber>
        </div>

        <div class="col-3">
          <p-inputNumber [inputStyle]="{width: '90px'}" formControlName="price" [showButtons]="true" mode="currency"
            placeholder="Eingang ..." currency="EUR">
          </p-inputNumber>
        </div>

        <div class="col-1 trash-btn" (click)="deleteSize(index)">
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
    </div>
  </div>

  <button pButton type="submit" icon="fas fa-plus" label="Größe hinzufügen" (click)="addNewSize()"
    class="p-button-sm p-button-warning add-btn"></button>
</div>
